.page_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    background-color: lightskyblue;
}

.login_container{
    width: 421px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.f_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.f_container > form{
    display: flex;
    flex-direction: column;
    width: inherit;
}

.ep_container{
    display: flex;
    flex-direction: column;
    margin: 5px 10px    ;
}

.ep_container > input{
    padding:0 20px;
}

.ac_reg_container{
    display: flex;
    flex-direction: row;
}

.ac_reg_container > *{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.reg_btn, .log_btn{
    text-decoration: none;
    color: white;
    background-color: skyblue;
    font-weight: bold;
}

.log_btn{
    cursor: pointer;
}

.ac_reg_container > a, .ep_container > input{
    height: 37px;

    background-color: lightskyblue;

    border: transparent;
    border-radius: 5px;
}

body{
    margin: 0;
}

.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: #0dcaf0;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: max-content;

    padding: 20px;

    background-color: white;

    border: transparent;
    border-radius: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;

    margin: 10px;
}

.form-container form button{
    height: 60px;

    border: solid 5px #0dcaf0;
    border-radius: 10px;

    background-color: white;
    color: #0dcaf0;

    font-weight: bold;

    margin: 10px 0 0 0;
}

.form-container form button:hover {
    background-color: #0dcaf0;
    color: white;
    font-weight: bolder;
}

.user-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.user-input label{
    font-weight: bold;
    margin-right: 5px;
}

.user-input input {
    padding: 0 0 0 10px;
    height: 35px;
    margin-left: 5px;
}


