body{
    margin: 0;
}

.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background: linear-gradient(135deg,#0dcaf0, #1782ea);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;

    padding: 20px;

    background-color: white;

    border: transparent;
    border-radius: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;

    margin: 10px;
}
/* Se achares o butão mt feio dps tira oq eu tinha posto
.form-container form button{
    height: 60px;
    width: 100%;

    border: solid 5px #0dcaf0;
    border-radius: 10px;

    background-color: white;
    color: #0dcaf0;

    font-weight: bold;

    margin: 10px 0 0 0;

    cursor: pointer;
}

.form-container form button:hover {
    background-color: #0dcaf0;
    color: white;
    font-weight: bolder;
}
*/
.user-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.user-input label{
    font-weight: bold;
    margin-right: 5px;
}

.user-input input{
    padding: 0 0 0 10px;
    height: 35px;
    margin-left: 5px;
}

.reg_container a{
    display: flex;
    align-items: center;

    font-weight: bolder;
    text-decoration: none;

    padding: 0 10px 0 10px;
    height: 35px;
    margin-left: 5px;

    border: solid 5px #0dcaf0;
    border-radius: 10px;
    background-color: white;
    color: #0dcaf0;
}

.reg_container a:hover{
    background-color: #0dcaf0;
    color: white;
    font-weight: bolder;
}

.reg_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    max-width: 100px;
    width: 100%;
    height: auto;
    margin-top: 1px;
    margin-bottom: 1px;
}

.login{
    font-size: 2rem;
    margin: 0 0 4px 0;
    text-align: center;
}

.small-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.small-text.destaque{
    color: #0077ff;
    text-decoration: none;
}

.small-text.grey{
    color: #808080;
    align-items: flex-start;
    margin: 0;
}

.small-text.grey.smaller{
    font-size: 14px;
}

/* botão bonito do login */
/* https://uiverse.io/Sergestra/angry-dragonfly-60 */
.button-special {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    cursor: pointer;
}

.button-special div {
    transform: translateY(0px);
    width: 100%;
}

.button-special,
.button-special div {
    transition: 0.6s cubic-bezier(.16,1,.3,1);
}

.button-special div span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 1.125em;
}

.button-special div:nth-child(1) {
    background-color: #1e90ff;
}

.button-special div:nth-child(2) {
    background-color: #21dc62;
}

.button-special:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
}

.button-special:hover div {
    transform: translateY(-50px);
}

.button-special p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}

.button-special:active {
    transform: scale(0.95);
}
