body{
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    margin: 0;
    width: 100%;
}

h3{
    text-align: center;
    margin: 0;
}


.bg-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: skyblue;
    /*background-color: #2EC4B6;*/
}

.sub-nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /*margin: 20px 0 0 0;*/
}

.m-left-side img{
    height: 45px;
    margin: 0 10px;
}

.m-left-side, .m-right-side{
    width: 15%;
}

.m-center-side{
    width: 70%
}

.m-center-side, .m-right-side, .m-left-side{
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
}

.sn-container{
    display: flex;
    /*flex-direction: column;*/

    align-items: center;

    width: 100%;
}

.m-center-side a{
    display: flex;
    /*width: 100%;*/

    justify-content: center;

    padding: 10px;
    margin: 5px 2px;

    /*border: 3px solid teal;*/
    border-radius: 20px;

    text-decoration: none;
    text-align: center;
    font-weight: bolder;

    color: black;
    background-color: white;
}

.m-center-side a:hover{
    color: white;
    background-color: teal;
}

/*.sn-container a:hover{*/
/*    background-color: cadetblue;*/
/*    color: white;*/
/*}*/

.sn-container, .bottom-nav{
    height: 50%;
}

.bottom-nav form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

.bottom-nav{
    justify-content: end;
}

.bottom-nav > *{
    margin-right: 5px;
}

.btn-logout, .anchor-settings{
    display: flex;
    justify-content: center;
    align-items: center;

    color: skyblue;
    cursor: pointer;

    height: 35px;
    width: 35px;

    border: none;
    border-radius: 50px;

    background-color: white;
}

.btn-logout:hover, .anchor-settings:hover{
    color: white;
    background-color: teal;
}

.main-nb{
    width: 100%;
    height: 100vh;
}

.header-container{
    display: flex;
    flex-direction: row;

    height: 65px;

    background-color: floralwhite;
    border-radius: 80px;

    margin-top: 10px;

    box-shadow: lightgray 1px 1px 1px inset, #0dcaf0 1px 2px 1px;
}

.right-side, .left-side{
    width: 50%;
}

.left-side{
    margin: 0 0 0 20px;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: end;

    margin: 0 10px 0 0;
}

.right-side > *{
    margin-right: 10px;
    font-weight: bold;
}

.right-side > img{
    height: 50px;
}

.default-button{
    cursor: pointer;
    background-color: #5F9EA0;
    justify-content: center;
    align-content: center;

    padding: 4px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: white;
    border-style: none;
    max-height: fit-content;
}

.default-button:hover{
    background-color: #7fb1b3;
}

.default-button:disabled {
    cursor: not-allowed;
    background-color: #3e6768;
    border:none;
}

.table-header {
    width: 100%;
    height: 10%;
    max-height: 50px;
    display: inline-flex;
    justify-items: center;
}

.table-header > * {
    margin: 10px;
}

.table-header > .default-button {
    margin: 6px;
}

.table-header-85-percent {
    width: 85%;
    height: 100%;
    max-height: 30px;
}

.table-header-15-percent {
    width: 15%;
    height: 100%;
    max-height: 30px;
}


.search-bar {
    width: 100%;
    height: 100%;
}

.search-bar > .search-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
}

.search-input:hover, .search-input:focus {
    border-color: #00a5a7;
    outline: none;
}

.default-form {
    width: 100%;
    display: block;
    padding: 10px;

    > * {
        width: 100%;
        display: flex;
    }

    > *:not(button) {
        justify-items: left;
        justify-content: space-between;
    }

    + .container:not(:first-child) {
        margin-top: 10px;
    }

    .container {
        width: 100%;
        display: flex;

        &:focus-within {
            .input-container label {
                color: #00a5a7;
            }
        }
    }

    .input-container {
        width: 100%;
        height: 100%;
        display: block;

        * {
            width: 100%;
            height: 50%;
        }

        *:not(:last-child) {
            padding-bottom: 4px;
        }
    }

    .input-container input{
        border-style: solid;
        border-radius: 4px;
        outline: none;
    }

    .input-container label {
        color: black;
        font-weight: bold;
    }

    .input-container input:hover, .input-container input:focus {
        border-color: #00a5a7;
    }
}

.bold {
    font-weight: bold;
}

.clickable-element {
    color: black;
    text-decoration: none;
}

.clickable-element:hover {
    background-color: #a0aec0;
    cursor: pointer;
}
