body{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.bg-container{
    width: 300px;

    display: flex;
    justify-content: center;

    background-color: lightblue;
}

.sub-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;

    margin: 20px 0 0 0;
}

.sn-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.sn-container form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.sn-container form button{
    cursor: pointer;
    background-color: transparent;
}

.sn-container a,.sn-container form button{
    display: flex;
    width: 100%;

    justify-content: center;

    padding: 10px 0;
    margin: 5px 0;

    border: 3px solid cadetblue;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.sn-container a:hover, .sn-container form button:hover{
    background-color: cadetblue;
    color: white;

    border: 3px solid white;
}

.sn-container, .bottom-nav{
    height: 50%;
}

.bottom-nav{
    justify-content: end;
}

.main-nb{
    width: 100%;
    height: 100vh;
}

.header-container{
    display: flex;
    flex-direction: row;

    height: 65px;

    background-color: floralwhite;
    border-radius: 80px;

    margin-top: 10px;

    box-shadow: lightgray 1px 1px 1px inset, #0dcaf0 1px 2px 1px;
}

.right-side, .left-side{
    width: 50%;
}

.left-side{
    margin: 0 0 0 20px;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: end;

    margin: 0 10px 0 0;
}

.right-side > *{
    margin-right: 10px;
    font-weight: bold;
}

.right-side > img{
    height: 50px;
}

.default-button{
    cursor: pointer;
    background-color: #5F9EA0;
    justify-content: center;
    align-content: center;

    padding: 4px;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: white;
    border-style: none;
}

.default-button:hover{
    background-color: #7fb1b3;
}

.default-button:disabled {
    cursor: not-allowed;
    background-color: #3e6768;
    border:none;
}

.table-header {
    width: 100%;
    height: 10%;
    max-height: 50px;
    display: inline-flex;
    justify-items: center;
}

.table-header > * {
    margin: 10px;
}

.table-header > .default-button {
    margin: 6px;
}

.table-header-85-percent {
    width: 85%;
    height: 100%;
    max-height: 30px;
}

.table-header-15-percent {
    width: 15%;
    height: 100%;
    max-height: 30px;
}


.search-bar {
    width: 100%;
    height: 100%;
}

.search-bar > .search-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
}

.search-input:hover, .search-input:focus {
    border-color: #00a5a7;
    outline: none;
}

.default-form {
    width: 100%;
    display: block;
    padding: 10px;

    > * {
        width: 100%;
        display: flex;
    }

    > *:not(button) {
        justify-items: left;
        justify-content: space-between;
    }

    + .container:not(:first-child) {
        margin-top: 10px;
    }

    .container {
        width: 100%;
        display: flex;

        &:focus-within {
            .input-container label {
                color: #00a5a7;
            }
        }
    }

    .input-container {
        width: 100%;
        height: 100%;
        display: block;

        * {
            width: 100%;
            height: 50%;
        }

        *:not(:last-child) {
            padding-bottom: 4px;
        }
    }

    .input-container input{
        border-style: solid;
        border-radius: 4px;
        outline: none;
    }

    .input-container label {
        color: black;
        font-weight: bold;
    }

    .input-container input:hover, .input-container input:focus {
        border-color: #00a5a7;
    }
}

.bold {
    font-weight: bold;
}
