body{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.bg-container{
    width: 300px;
    height: 100vh;

    display: flex;
    justify-content: center;

    background-color: #0dcaf0;
}

.sub-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;

    margin: 20px 0 0 0;
}

.sn-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.sn-container a{
    width: 100%;

    padding: 10px 0;
    margin: 5px 0;

    border: 3px solid darkblue;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.sn-container a:hover{
    background-color: darkblue;
    color: white;

    border: 3px solid white;
}

.main-nb{
    width: 100%;
}

.nav-bar-container{
    height: 60px;
    background-color: lightgreen;

}
