body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    background-color: #0dcaf0;
    width: 300px;
    height: 100vh;
}

.header_container{
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.w_page_container > a{
    display: flex;
    flex-direction: column;
}

.nav_bar{
    display: flex;
    flex-direction: column;
}

