body{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.bg-container{
    width: 300px;
    height: 100%;

    display: flex;
    justify-content: center;

    background-color: lightblue;
}

.sub-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;

    margin: 20px 0 0 0;
}

.sn-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.sn-container a{
    width: 100%;

    padding: 10px 0;
    margin: 5px 0;

    border: 3px solid cadetblue;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.sn-container a:hover{
    background-color: cadetblue;
    color: white;

    border: 3px solid white;
}

.sn-container, .bottom-nav{
    height: 50%;
}

.bottom-nav{
    justify-content: end;
}

.main-nb{
    width: 100%;
}

.header-container{
    display: flex;
    flex-direction: row;

    height: 65px;

    background-color: whitesmoke;
}

.right-side, .left-side{
    width: 50%;
}

.left-side{
    margin: 0 0 0 10px;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: end;

    margin: 0 10px 0 0;
}

.right-side > *{
    margin-right: 10px;
    font-weight: bold;
}

.right-side > img{
    height: 50px;
}


