body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    background-color: #4aaec0;
    width: 300px;
    height: 100vh;
    border-radius: 0 50px 50px 0;
}

.header_container{
    padding: 0 15px;
    font-weight: bold;
    font-size: 30px;
    height: inherit;
}

.header_container > *{
    padding: 10px;
}

.w_page_container > a > img{
    border-radius: 100%;
    width: 120px;
}

.w_page_container > a, .nav_bar > a , .settings_container > a{
    color: white;
    text-decoration: none;
}

.w_page_container > a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar{
    display: flex;
    flex-direction: column;
}

.nav_bar > a{
    padding: 7px 0;
}

.settings_container > a{
    display: block;
}

.logout_btn{
    position: fixed;
    bottom: 0;
    left: 180px;
}

.logout_btn > img{
    width: 86px;
}
