body{
    margin: 0;
}

.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: #0dcaf0;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;

    padding: 20px;

    background-color: white;

    border: transparent;
    border-radius: 20px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;

    margin: 10px;
}

.form-container form button{
    height: 60px;

    border: solid 5px #0dcaf0;
    border-radius: 10px;

    background-color: white;
    color: #0dcaf0;

    cursor: pointer;

    font-weight: bolder;

    margin: 10px 0 0 0;
}

.form-container form button:hover {
    background-color: #0dcaf0;
    color: white;
    font-weight: bolder;
}

.username-inputs{
    display: flex;
}

.ep-input{
    flex-direction: column !important;
}

.user-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.user-input label{
    font-weight: bold;
    margin-right: 5px;
}

.user-input input{
    padding: 0 0 0 10px;
    height: 35px;
    margin-left: 5px;
}




