.s-container{
    margin: 20px;
}

.sch-container{
    margin: 15px;
}

.cleanings-container{
    display: flex;
    flex-direction: column;
}

table{
    border-spacing: 0;
    border: 1px solid;
}

td{
    text-align: center;
}

th{
    border-top: 0;
}
