.p-container{
    margin: 20px;

    background-color: whitesmoke;
}

.details-container{
    margin: 0 0 0 10px;
}

.user-details{
    display: flex;
    align-content: center;
}

.user-n-s .user-surname{
    margin-left: 10px;
}

